.footer-container{
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: cornflowerblue;
}
.footer-text{
  z-index: 1;
}
