<div class="list-container">
  <header class="list-header">
    <h1>{{ 'character.title' | translate }}</h1>
    <p class="subtitle">{{ 'character.description' | translate }}</p>
  </header>

  <div class="character-grid">
    @for (char of characterService.characters(); track char.id) {
      <app-character-card [character]="char"></app-character-card>
    } @empty {
      <div class="empty-state">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <p>{{ 'characters.no_data' | translate }}</p>
      </div>
    }
  </div>
</div>
